
@font-face {
  font-family: 'Neue Montreal';
  src: url("../../assets/fonts/NeueMontreal-Regular.woff2") format("woff2"), url("../../assets/fonts/NeueMontreal-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url("../../assets/fonts/NeueMontreal-Italic.woff2") format("woff2"), url("../../assets/fonts/NeueMontreal-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #171717;
  color: #e6e6e6;
  font-family: 'Neue Montreal';
  font-weight: regular;
  font-size: 30px;
  line-height: 1.1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#wrapper {
  width: 100%;
}

.nav {
  padding: 0 .5em;
}

.nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  text-transform: uppercase;
  padding: 1em 0 0 2px;
}

.nav a {
  text-decoration: none;
  -webkit-transition: all .03s;
  transition: all .03s;
}

.nav a:hover {
  font-style: italic;
}

header,
section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 767px;
  padding: .5em 5em;
}
.column{
  padding: 0;
}
header .container {
  padding: .5em;
}

.lead .container {
  aspect-ratio: auto 4 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1em 2em 1em;
  text-transform: uppercase;
  width: 100%;
}

h1 {
  padding: 0 0 0.5em 0;
}

h1 img {
  width: 100%;
}

h2 {
  width: 100%;
}

h2 img {
  vertical-align: initial;
  padding-bottom: 2px;
}

p {
  padding-bottom: 20px;
}

a:link,
a {
  color: #e5e5e5;
}

.outbound {
  text-decoration: none;
  font-style: italic;
  position: relative;
}

.em-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.em .outbound:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #171717;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.outbound:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e5e5e5;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.outbound:hover:after {
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

a:link.black,
a.black {
  color: #171717;
}

.night {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  text-align: right;
}

.section-title {
  font-size: 16px;
  text-transform: uppercase;
  padding-bottom: 24px;
}

.bio {
  background-color: #e5e5e5;
  color: #171717;
  width: 100%;
  border-top: 1px solid #171717;
  border-bottom: 1px solid #171717;
}

.sun:hover {
  -webkit-filter: invert(92%) sepia(33%) saturate(877%) hue-rotate(9deg) brightness(103%) contrast(93%);
          filter: invert(92%) sepia(33%) saturate(877%) hue-rotate(9deg) brightness(103%) contrast(93%);
}

.moon:hover {
  -webkit-filter: invert(67%) sepia(24%) saturate(454%) hue-rotate(217deg) brightness(97%) contrast(83%);
          filter: invert(67%) sepia(24%) saturate(454%) hue-rotate(217deg) brightness(97%) contrast(83%);
}

.em {
  background-color: #e1f47b;
  color: #171717;
}

.residency a:link,
.residency a {
  text-transform: uppercase;
  padding-bottom: 4px;
}

.residency li {
  padding-bottom: 4px;
}

.residency .container,
.music .container,
.subscribe .container {
  width: 100%;
}

.book.container {
  padding-top: 0;
  padding-bottom: 3em;
}

.email-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.subscribe {
  background: #AF9FD4;
  color: #171717;
  text-transform: uppercase;
  font-size: 12px;
  border-bottom: 1px solid #171717;
}

section.subscribe input[type="email"] {
  color: #171717;
  text-transform: uppercase;
  width: 100%;
  background: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #171717;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 24px;
  padding-left: 0;
}

section.subscribe input[type="submit"] {
  background: transparent;
  color: #171717;
  text-transform: uppercase;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #171717;
  border-radius: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 24px;
  cursor: pointer;
}

section.subscribe input[type="submit"]:hover {
  font-style: italic;
}

section.subscribe input[type="email"]:focus-visible,
input[type="email"]:focus {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #171717;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

section.subscribe input[type="email"]:hover {
  font-style: italic;
}

.subscribe .section-title {
  font-size: 12px;
  padding-bottom: 12px;
}

.subscribe .container {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 2em;
  padding-right: 2em;
}

input[type="email"]:placeholder,
input[type="email"]:placeholder-shown,
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: #171717;
}

::-moz-placeholder {
  opacity: 1;
}

section.attribution {
  background: #e5e5e5;
  font-size: 12px;
}

.book img,
.bio img {
  display: none;
}

@media screen and (min-width: 768px) {
  #wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container {
    max-width: 100%;
  }
  .column-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 24px 0;
  }
  .column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 50vw;
    padding: 0 24px;
  }
  .reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .bio {
    font-size: 20px;
    text-align: right;
    background-color: transparent;
    color: #e5e5e5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    display: -ms-grid;
    display: grid;
  }
  .bio .section-title {
    display: none;
  }
  section.bio .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    max-width: 65%;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: 1 / 2;
    justify-self: end;
  }
  section.bio img {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: 1/ 2;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .lead .container {
    aspect-ratio: auto 3.75 / 3;
    padding: 0;
  }
  .bio .container {
    padding: 0;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .center {
    text-align: left;
    font-size: 30px;
  }
  .em .container {
    padding: 2em;
  }
  .em .outbound {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .em p {
    padding-bottom: 1em;
  }
  .dj {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .container {
    padding: 0;
  }
  .subscribe .container {
    padding-left: 2em;
    padding-right: 2em;
  }
  .outbound {
    font-size: 40px;
  }
  .book {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .book .outbound {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: 1 / 2;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    cursor: pointer;
  }
  .book img {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: 1 / 2;
    -ms-grid-column-align: left;
        justify-self: left;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: -1em;
  }
  .top {
    padding-bottom: 2em;
  }
  .dj .container,
  .residency .container {
    padding-bottom: 2em;
  }
  .book img,
  .bio img {
    display: block;
  }
  section.attribution {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    color: #171717;
    padding: 1em 2em;
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .nav {
    padding: 0 .5em;
  }
  .column-wrap {
    padding: 1em 0;
  }
  .column {
    padding: 0 0.5em;
  }
  .center {
    padding: 0.5em 0.5em;
  }
  .lead .container {
    aspect-ratio: auto 2.46 / 3;
    padding: 0;
  }
  .top .column-left {
    max-width: 60vw;
  }
  .top .column-right {
    max-width: 40vw;
  }
  section.bio .container {
    max-width: 100%;
    padding-top: 0;
    padding-right: 0;
  }
  .container {
    padding: 1em 0.5em;
  }
  .column {
    padding: 1 0.25em;
  }
  .subscribe .container {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media screen and (min-width: 1025px) {
  .center {
    padding: 2.5em 3em;
  }
  .column {
    padding: 0 1em;
  }
  .container {
    padding: 1em 1em;
    max-width: 1920px;
  }
  .nav {
    padding: 0 1em;
  }
  .em {
    background-color: #171717;
    color: #e5e5e5;
  }
  a:link.black, a.black {
    color: #e5e5e5;
  }
}

@media screen and (min-width: 1500px) {
  .lead .container {
    aspect-ratio: 3.9 / 3;
  }
  .column-right{
    padding: 0;
  }
  
}

@media screen and (min-width: 420px) and (max-width: 767px) {
  .lead .container {
    aspect-ratio: auto 6 / 3;
    padding: .5em;
  }
  .container {
    padding: 1em 1em;
  }
  
}
/*# sourceMappingURL=main.css.map */
